<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Subadmin Table</h2>
    <table>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>emailId</th>
            <th>status</th>

        </tr>
        <% data.forEach((item)=>{ %>
            <tr>
                <td>
                    <%= item.firstName %>
                </td>
                <td>
                    <%= item.lastName%>
                </td>
                <td>
                    <%= item.emailId%>
                </td>
                <td>
                    <%= item.status%>
                </td>
            </tr>
            <% }) %>
    </table>

</body>

</html>