<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 20px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Kitchen config Table</h2>
    <table>
        <tr>
            <th>userId</th>
            <th>schedule</th>
            <th>thresholdLimit</th>
            <th>alerts</th>
        </tr>
        <% data.forEach((item)=>{ %>
            <tr>
                <td>
                    <%= item.userId %>
                </td>
                <td>
                    <%= item.schedule %>
                </td>
                <td>
                    <%= item.thresholdLimit%>
                </td>
                <td>
                    <%= item.alerts%>
                </td>
            </tr>
            <% }) %>
    </table>

</body>

</html>